/* Footer */

#section-footer {
    padding: 50px;

    margin-left: 0px;
    margin-right: 0px;

    border-left-style: none;
    border-right-style: none;

    margin-top: 5px;
    border-top-width: 1px;
    border-top-style: groove;
    border-top-color: lightgrey;

    margin-bottom: 0px;
    border-bottom-width: 1px;
    border-bottom-style: groove;
    border-bottom-color: lightgrey;

    overflow:hidden;

    position: relative;

    color: hsl(0, 0%, 50%);
    background-color: white;
}

#section-footer > .section-text {
    font-size: 80%;
}

#section-footer > a.section-text {
    text-decoration: underline;
}
