.info-section {
    padding: 50px;

    margin-left: 0px;
    margin-right: 0px;

    border-left-style: none;
    border-right-style: none;

    margin-top: 0px;
    border-top-width: 1px;
    border-top-style: none;
    border-top-color: lightgrey;

    margin-bottom: 0px;
    border-bottom-width: 1px;
    border-bottom-style: groove;
    border-bottom-color: lightgrey;

    overflow:hidden;
    position: relative;
}

.navbar {
    margin: 0 auto;
}

.section-text {
    max-width: 600px;
    font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
    color: inherit;
    font-weight: normal;
}

.section-align {
    margin: auto 0px auto;

    position: absolute;
    top: 30px;
}

.section-hidden-text {
    display: none;
    margin: auto 5% auto;
}

.section-subheader {
    width: auto;
    font-size: 20px;
    margin-top: 0px;
}

.section-expand-hint {
    margin: 45px auto auto auto;
    display: block;
    text-align: center;
    opacity: 0.15;
    overflow: hidden;
}

.img-group > img {
    width: 175px;
    height: 175px;
}

.img-right {
    float: right;
}

.img-left {
    float: left;
}

/* Per-section settings: */

#main-header {
    background-color: #003cb3;
    margin-top: 0px;
    color: white;
}

#main-header > .section-align {
    margin: auto 15% auto;
}

/* "Reality Plus" */

#section-whatis {
    background-color: hsl(0, 0%, 95%);
    color: hsl(0, 0%, 5%);
}

#section-whatis > .section-align {
    margin-right: 550px;
    max-width: 35%;
}

#section-whatis  > .section-align > .section-subheader {
    color: hsl(0, 0%, 55%);
}

/* "The Tech" */

/* Coloring, etc. */
#section-tech {
    background-color: hsl(0, 0%, 75%);
    color: hsl(0, 0%, 10%);
}

#opencv-logo {
    background-color: hsl(0, 0%, 70%);
}

#section-tech > .section-hidden-text {
    margin-left: 0px;
    margin-top: 3%;
    display: flex;
}

#section-tech > .section-hidden-text > .section-text {
    margin-left: 3%;
    margin-right: 3%;
}

#section-tech > .section-align > .section-subheader {
    color: hsl(0, 0%, 40%);
}

/* Layout */

#section-tech > .section-align {
    margin: auto 0px auto;
    max-width: 30%;

    float:right;
}

#section-tech > .img-group {
    position: relative;
}

/*
 * Place the images in a row of 4 if possible (without overlapping the text).
 * Otherwise, place them in a 2x2 block and shift them to the center.
 */
@media (min-width: 1200px) {
    #section-tech > .section-align {
        left: 65%;
    }

    #section-tech > .img-group {
        max-width: 70%;
    }
}

@media (max-width: 1199px) {
    #section-tech > .section-align {
        right: 5%;
    }

    #section-tech > .img-group {
        max-width: 535px;
        left: 5%;
        overflow: hidden;
        white-space: nowrap;
    }
}

/* "The Uses" */

#section-uses {
    background-color:  hsl(0, 0%, 100%);
    color: hsl(0, 0%, 0%);
}

#section-uses > .section-align > .section-subheader {
    color: hsl(0, 0%, 75%);
}

#section-uses > .section-align {
    position: static;
}

#section-uses > .section-hidden-text {
    position: relative;
    left: -5%;
}

/* "The Concerns" */

#section-concerns {
    background-color:  hsl(0, 0%, 40%);
    color: hsl(0, 0%, 100%);
}

#section-concerns > .img-group {
    position: relative;
    left: 5%;
}

#pokemongo-warning {
    width: 350px;
    height: 350px;
}

#section-concerns > .section-align, #section-concerns > .section-hidden-text {
    margin: auto 0px auto;

    position: relative;
    top: -5%;
    left: 10%;

    max-width: 50%;

    overflow: hidden;
}

#section-concerns > .section-align > .section-subheader {
    color: hsl(0, 0%, 60%);
}


/* "The Future" */

#section-future {
    background-color:  hsl(0, 0%, 85%);
    color: hsl(0, 0%, 15%);
    text-align: center;
}

#section-future > .section-align > .section-subheader {
    color: hsl(0, 0%, 60%);
}

#section-future > .section-align, #section-future > .section-hidden-text {
    margin: 0px auto;
    width: 50%;
    position: static;
}

/* Footer overrides */
#section-footer {
    margin-top: 0px;
    border-top-style: none;
}
